body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)),url(bg.jfif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container{
    width: 360px;
    height: 410px;
    margin: 8% auto;
    background: rgba(0,0,0,0.6);
    border-radius: 1em;
    position: relative;
    overflow: hidden;

    box-shadow: -3px -3px 5px rgba(255,255,255,0.05),
                3px 3px 5px rgba(0,0,0,0.5);
}


h2{
    text-align: center;
    margin-bottom: 1.5em;
    color: gray;
    text-transform: capitalize;
}

.container form{
    width: 17em;
    position: absolute;
    top: 60px;
    left: 40px;
    transition: .5s all ease;
}



form input{
    width: 100%;
    padding: 10px 5px;
    margin: 0.7em 0;
    border: 0;
    color: cyan;
    font-weight: 500;
    border-bottom: 0.1em solid gray;
    outline: none;
    background: transparent;
}

::placeholder{
    color: gray;
}

.btn{
    width: 100%;
    margin: 1.5em  auto;
    text-align: center;
}

form button{
    width: 45%;
    height: 2.5em;
    margin: 0 5px;
    background: linear-gradient(50deg,blue,cyan);
    border-radius: 5em;
    border: 0;
    outline: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1em;
    font-style: bold;
    letter-spacing: 0.2em;
}


#form2{
    left: 450px;
}

#form3{
    left: 450px;
}
#form4{
    left: 450px;
}

#form5{
    left: 450px;
}

.step_row{
    width: 360px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow:  0 -1px 5px -1px gray;
    position: relative;
}

.step_col{
    width: 120px;
    text-align: center;
    color: white;
    position: relative;
}

#progress_bar{
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(50deg,blue,cyan);
    transition: 0.5s all ease-in-out;
}

#progress_bar::after{
    content: "";
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid cyan;
}